{% extends "layout.html" %}
{% block content %}
    <section class='Form my-4 mx-5'>
        <div class='container'>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            <div class='row login-box'>
                <div class='col-lg-5'>
                    <img src="{{ url_for('static', filename='lennon.jpg') }}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1>Personal Blog website</h1>
                    <h4>Sign in to your account</h4>
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        <div class="form-row">
                            <div class="col-lg-7">
                                {{ form.email.label(class="form-control-label") }}
                                <!-- <input type="email" class="form-control my-3 p-2" placeholder="Email"> -->
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <!-- <input type="password" class="form-control my-3 p-2" placeholder="Password"> -->
                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div> 
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <!-- <button type="button" class="btn btn1 mt-3 mb-5">Login</button> -->
                                {{ form.submit(class="btn btn1 btn-outline-info") }}
                            </div>
                        </div>
                        <!-- <a href="#">Forgot Password?</a> -->
                        <br>
                        <p>Don't have an account? <a href="/signup">Sign up!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}